body {margin:0px 0px 0px 0px;
	  padding:0px;}


#rel {position:relative;}
#bgImages {background-size:cover;
		   height:300px;
		   position:relative;
		   margin:0px;
		   padding:0px;
		  border:1px solid black;
			margin-bottom:15px;
			left:173px;
			/*margin-top:5px;*/
			box-shadow:20px 20px 20px black ;
			-webkit-transform:skewX(20deg);

		}
.container-fluid {/*background: linear-gradient(to right, #c2d6d6, #75a3a3);*/
					background-image: url("../images/bg.jpg");
					background-size:cover;
					/*background-repeat:no-repeat*/
					background-position:center;}


#txtWrapper1 {background-color: rgba(230,242,255,0.5);
			background:linear-gradient(to top right,  #ebf0fa, #2952a3);
			/*border-top: 10px outset grey;
			border-left: 10px outset grey;
			border-right: 10px outset grey;
			border-bottom: 10px outset grey;*/
			box-shadow:20px 20px 20px black ;
			-webkit-transform: skewX(140deg);
			position:relative;
			left:-10px;
			height:100px;
			border:1px solid black;

			}


#textAndName {text-align:center;
			position:relative;
			top:0;
			left:0;
			/*transform: skewX:(20deg);*/}


#rope {border: 3px solid black;}




#txtWrapper1:hover {transition: all 1s ease-out;
	transform: skewX(160deg);
	background-color: rgba(230,242,255,0.5);
			background:linear-gradient(to top right,  #ebf0fa, #2952a3);
			/*border-top: 10px outset grey;
			border-left: 10px outset grey;
			border-right: 10px outset grey;
			border-bottom: 10px outset grey;*/
			/*box-shadow:20px 20px 20px black ;
			-webkit-transform: skewX(140deg);
			position:relative;
			left:-10px;
			height:100px;
			border:1px solid black;*/

			}